{% extends "layout.html" %}

{% block title %} Change Password {% endblock %}

{% block main %}
    <form class="mx-auto my-3 w-auto row justify-content-center g-3" action="/change_password" method="post">
        <legend class="text-center">Change Password</legend>

        <div class="col-md-3">
            <label for="name" class="form-label">Current Password</label>
            <input autofocus autocomplete="off" class="form-control" name="password" placeholder="Current Password" type="password">
        </div>

        <div class="w-100"></div>

        <div class="col-md-3">
            <label for="pattern" class="form-label">New Password</label>
            <input class="form-control" name="new_password" placeholder="New Password" type="password">
        </div>

        <div class="w-100"></div>

        <div class="col-md-3">
            <label for="pattern" class="form-label">Reype New Password</label>
            <input class="form-control" name="new_confirmation" placeholder="New Password" type="password">
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 text-center">
            <a class="btn btn-secondary" href="/profile">Return</a>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
