{% extends "layout.html" %}

{% block title %} Edit Pet {% endblock %}

{% block main %}
    <form class="mx-auto my-3 w-auto row justify-content-center g-3" method="post">
        <legend class="text-center">Modify Pet Information</legend>

        <div class="col-md-3">
            <label for="name" class="form-label">Name</label>
            <input autofocus autocomplete="off" class="form-control" name="name" placeholder="Name" type="text" value="{{ pet['name'] }}">
        </div>
        <div class="col-md-3">
            <label for="birthdate" class="form-label">Birthdate</label>
            <input autocomplete="off" class="form-control" name="birthdate" placeholder="YYYY-MM-DD" type="text" value="{{ pet['birthdate'] }}">
        </div>

        <div class="w-100"></div>

        <div class="col-md-3">
            <label for="species" class="form-label">Species</label>
            <input autocomplete="off" class="form-control" name="species" placeholder="e.g. Dog, Cat, Snake" type="text" value="{{ pet['species'] }}">
        </div>
        <div class="col-md-3">
            <label for="breed" class="form-label">Breed</label>
            <input class="form-control" name="breed" placeholder="e.g. Dalmatian, Siamese, Ball Python" type="text" value="{{ pet['breed'] }}">
        </div>

        <div class="w-100"></div>

        <div class="col-md-6">
            <label for="pattern" class="form-label">Color, Markings, Patterns</label>
            <textarea class="form-control" name="pattern" placeholder="e.g. Black/Brown, Tortoiseshell" rows="3">{{ pet['pattern'] }}</textarea>
        </div>

        <div class="w-100"></div>

        <div class="col-md-6 text-center">
            <a class="btn btn-secondary" href="/pets">Return</a>
            <input name="id" type="hidden" value="{{ pet['id'] }}">
            <button class="btn btn-primary" formaction="/edit_pet" type="submit">Submit</button>
            <button class="btn btn-danger" formaction="rm_pet" type="submit">Delete</button>
        </div>
    </form>
{% endblock %}
